.ac {
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.ac > .ac-q {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  outline: 0;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  cursor: pointer;
  position: relative;
}
.ac > .ac-q::after {
  content: "+"; /*Open Icon*/
  text-align: center;
  width: 15px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}
.ac > .ac-a {
  display: none;
}
.ac > .ac-a p {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #888;
  margin: 0;
  padding: 10px;
}
.ac.active > .ac-q::after {
  content: "\2013"; /*Close icon*/
}
