@charset "UTF-8";
/*!
 * Accordion v2.6.3
 * Simple accordion created in pure Javascript.
 * https://github.com/michu2k/Accordion
 *
 * Copyright 2017-2018 Michał Strumpf
 * Published under MIT License
 */
.ac {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: #fff;

    > .ac-q {
        font-family: 'Arial', sans-serif;
        font-size: 15px;    
        color: #111;
        padding: 10px 30px 10px 10px;
        margin: 0;
        text-decoration: none;
        display: block;
        cursor: pointer;
        position: relative;

        &::after {
            content: '+';
            text-align: center;
            width: 15px;    
            right: 10px;
            top: 50%;
            transform: translate(0, -50%);
            position: absolute;
        }
    }

    > .ac-a {
        overflow: hidden;
        visibility: hidden;
        transition-property: all;
        transition-timing-function: ease;

        p {
            font-family: 'Arial', sans-serif;   
            font-size: 14px;
            line-height: 1.5;
            color: #777;
            margin: 0;
            padding: 10px;
        }   
    }

    &.active {
        > .ac-a {
            visibility: visible;
        }

        > .ac-q {
            &::after {
                content: '\2013';
            }       
        }
    }
}